<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Nuevo Cliente</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="panel-body">  

        <form name="form" id="form" class="form-horizontal" ng-submit="form.$valid && ok()" novalidate>
            <fieldset class="b0">
                <legend>Datos Generales</legend>
                <div class="form-group">
                    <label class="col-md-2 control-label">Persona</label>
                    <div class="col-md-10">
                        <label class="radio-inline c-radio">
                            <input type="radio" name="persona" value="F" ng-model="cliente.persona">
                            <span class="fa fa-circle"></span>Física</label>
                        <label class="radio-inline c-radio">
                            <input type="radio" name="persona" value="M" ng-model="cliente.persona">
                            <span class="fa fa-circle"></span>Moral</label>                               
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':(form.$submitted || form.nombre.$touched) && form.nombre.$error.required}">
                    <label class="col-md-2 control-label">Nombre</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="cliente.nombre" name="nombre" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">RFC</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="cliente.rfc">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Contacto</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="cliente.contacto">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Teléfono</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="cliente.telefono">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="cliente.email">
                    </div>
                </div>
            </fieldset>
            <fieldset class="last-child mb0 pb0">
                <legend ng-click="show = !show">Domicilio <span class="pull-right" style="font-size: 14px; padding-top: 8px; padding-right: 4px;" ng-class="{'fa fa-chevron-down':show, 'fa fa-chevron-up':!show}"></span></legend>
                <div uib-collapse="show">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Calle</label>
                        <div class="col-md-10">
                            <input class="form-control" ng-model="cliente.calle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Colonia</label>
                        <div class="col-md-10">
                            <input class="form-control" ng-model="cliente.colonia">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Núm. Exterior</label>
                        <div class="col-md-10">
                            <input class="form-control" ng-model="cliente.num_exterior">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Núm. Interior</label>
                        <div class="col-md-10">
                            <input class="form-control" ng-model="cliente.num_interior">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">C.P.</label>
                        <div class="col-md-10">
                            <input class="form-control" ng-model="cliente.cp">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Localidad</label>
                        <div class="col-md-10">
                            <input class="form-control" ng-model="cliente.localidad">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Municipio</label>
                        <div class="col-md-10">
                            <input class="form-control" ng-model="cliente.municipio">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Estado</label>
                        <div class="col-md-10">
                            <input class="form-control" ng-model="cliente.estado">
                        </div>
                    </div>
                </div>
            </fieldset>
            <!--<div>{{cliente|json}}</div>--> 
        </form>
    </div>
</div>
<div class="modal-footer">       
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-primary" type="submit" form="form">Guardar</button>
</div>