<h3>Cotización
    <small>Arquitectónico</small>
</h3>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Medidas</div>
            <div class="panel-body">             
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cantidad</th>
                                <th>Largo(m)</th>
                                <th>Ancho(m)</th>
                                <th style="width: 61px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pieza in ctrl.piezas">
                                <td><input type="number" class="form-control" ng-model="pieza.cantidad" min="1"></td>                       
                                <td><input type="number" class="form-control" ng-model="pieza.largo"></td>                       
                                <td><input type="number" class="form-control" ng-model="pieza.ancho"></td>                        
                                <td><button class="btn btn-default" ng-click="ctrl.delPieza(pieza)"><span class="fa fa-remove"></span></button></td>
                            </tr>                       
                        </tbody>
                    </table>
                </div>
                <div>
                    <button class="btn btn-default" ng-click="ctrl.addPieza()">Agregar</button>
                    <!--<button class="btn btn-default" ng-click="ctrl.analisis()">Analizar</button>-->
                </div>
                <!--                <div>{{ctrl.piezas|json}}</div>
                                <div>{{ctrl.rollo|json}}</div>-->
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" ng-click="ctrl.analisis()">Analizar</button>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Análisis</div>
            <div class="panel-body">           
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cantidad</th>
                                <th>Largo(m)</th>
                                <th>Ancho(m)</th>
                                <th>m<sup>2</sup> Efectivos</th>
                                <th>m<sup>2</sup> Merma (1.52)</th>
                                <th>m<sup>2</sup> Merma (1.82)</th>
                                <th>m<sup>2</sup> Merma (óptimo)</th>
                                <th style="width: 61px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pieza in ctrl.procesadas">
                                <td>{{pieza.cantidad}}</td>                       
                                <td>{{pieza.largo}}</td>                       
                                <td>{{pieza.ancho}}</td>
                                <td>{{pieza.efectivo}}</td>  
                                <td ng-class="{
                                            info:pieza.optimo === 152
                                        }">{{pieza._152.merma}}</td>
                                <td ng-class="{
                                            info:pieza.optimo === 182
                                        }">{{pieza._182.merma}}</td> 
                                <td>{{pieza.optimo===152?pieza._152.merma:pieza._182.merma}}</td> 
                                <td><button class="btn btn-default" ng-click="ctrl.draw(pieza, 182)"><span class="fa fa-th-large"></span></button></td>
                            </tr>                       
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>                       
                                <td></td>                       
                                <td></td>
                                <th>{{ctrl.sum_efectivo(ctrl.procesadas)}}</th>  
                                <th><button class="btn btn-default btn-block" ng-click="ctrl.set_merma_152()"><strong>{{ctrl.sum_merma(ctrl.procesadas, 1)}}</strong></button></th>
                                <th><button class="btn btn-default btn-block" ng-click="ctrl.set_merma_182()"><strong>{{ctrl.sum_merma(ctrl.procesadas, 2)}}</strong></button></th> 
                                <th><button class="btn btn-default btn-block" ng-click="ctrl.set_merma_optimo()" ng-disabled="ctrl.cot.merma_optimo === ctrl.cot.merma_152 || ctrl.cot.merma_optimo === ctrl.cot.merma_182"><strong>{{ctrl.sum_merma(ctrl.procesadas, 3)}}</strong></button></th> 
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>                    
                </div>
                <!--<hr>-->
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <p class="h4">m<sup>2</sup> Efectivos</p>
                        <div class="h1">{{ctrl.cot.efectivo_m2||0}}</div>
                    </div>
                    <div class="col-xs-6 text-center">
                        <p class="h4">m<sup>2</sup> Merma</p>
                        <div class="h1">{{ctrl.cot.merma_m2||0}}</div>
                    </div>                        
                </div>
                <!--                <div id="dibujo" class="rollo" style="height: 320px;"></div>-->
                <!--                <uib-tabset>
                                    <uib-tab heading="Patrón 1">
                                        <div id="cociente" class="rollo" style="height: 320px;">
                
                                        </div>
                                    </uib-tab>
                                    <uib-tab heading="Patrón 2" ng-show="ctrl.show_resto">
                                        <div id="resto" class="rollo" style="height: 320px;"></div>
                                    </uib-tab>                
                                </uib-tabset>
                                <hr>-->
                <!--<div>{{ctrl.procesadas|json}}</div>-->

            </div>
<!--            <div class="panel-footer">
                <button class="btn btn-primary">Continuar</button>
            </div>-->
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Parámetros Cotización</div>
            <div class="panel-body">
                <form class="form-horizontal">

                    <fieldset ng-if="ctrl.cot.rollo===1">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Rollo de 1.52m</label>
                            <div class="col-lg-6">
                                <select class="form-control" ng-model="ctrl.cot.rollo_60" ng-options="p.modelo for p in ctrl.productos|filter:{ancho:1.52}" >
                                    <option value="">Seleccionar...</option>
                                </select>
                            </div>
                            <label class="col-lg-2 control-label">Precio</label>
                            <div class="col-lg-2">
                                <div class="input-group"> 
                                    <span class="input-group-addon">USD</span>
                                    <input type="text" class="form-control" ng-model="ctrl.cot.rollo_60.precio" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset ng-if="ctrl.cot.rollo>1"> 
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Rollo de 1.82m</label>
                            <div class="col-lg-6">
                                <select class="form-control" ng-model="ctrl.cot.rollo_80" ng-options="p.modelo for p in ctrl.productos|filter:{ancho:1.82}">
                                    <option value="">Seleccionar...</option>
                                </select>
                            </div>
                            <label class="col-lg-2 control-label">Precio</label>
                            <div class="col-lg-2">
                                <div class="input-group"> 
                                    <span class="input-group-addon">USD</span>
                                    <input type="text" class="form-control" ng-model="ctrl.cot.rollo_80.precio" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Garantía</label>
                            <div class="col-lg-2">
                                <select class="form-control" ng-model="ctrl.cot.garantia" ng-options="g.nombre for g in ctrl.garantias" >
                                    <option value="">Seleccionar...</option>
                                </select>
                            </div>                           
                            <label class="col-lg-2 control-label">Utilidad</label>
                            <div class="col-lg-2">
                                <div class="input-group"> 
                                    <input type="text" class="form-control" ng-model="ctrl.cot.garantia.utilidad" />
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <label class="col-lg-2 control-label">Comisión</label>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <span class="input-group-addon">MXN</span>
                                    <input type="text" class="form-control" ng-model="ctrl.cot.garantia.comision_venta" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Dólar</label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control" ng-model="ctrl.cot.dolar" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Instalación m<sup>2</sup></label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control" ng-model="ctrl.cot.instalacion_m2" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Flete</label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control" ng-model="ctrl.cot.flete" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Flete m<sup>2</sup></label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control" ng-model="ctrl.cot.flete_m2" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.toggleFormulaFlete = !ctrl.toggleFormulaFlete">?</button>
                                </span>
                            </div>
                            <div uib-collapse="ctrl.toggleFormulaFlete">                                
                                <blockquote style="margin-top: 10px;">
                                    <p><span ng-class="{
                                            'text-danger'
                                                    :!ctrl.cot.flete}">{{ctrl.cot.flete||'flete'}}</span> / 46.45 = {{ctrl.flete() || 'complete los datos'}} </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="ctrl.cot.rollo===1">
                        <label class="col-lg-2 control-label">Costo m<sup>2</sup> (1.52m)</label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control" ng-model="ctrl.cot.costo_60" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.toggleFormulaCosto152 = !ctrl.toggleFormulaCosto152">?</button>
                                </span> 
                            </div>
                            <div uib-collapse="ctrl.toggleFormulaCosto152">
                                <!--                                <div class="well bg-gray-lighter">Some content</div>-->
                                <blockquote style="margin-top: 10px;">
                                    <p>( <span ng-class="{
                                            'text-danger'
                                                    :!ctrl.cot.rollo_60.precio}">{{ctrl.cot.rollo_60.precio||'precio rollo'}}</span> * <span ng-class="{
                                                            'text-danger'
                                                                    :!ctrl.cot.dolar}">{{ctrl.cot.dolar||'dolar'}}</span> ) / 46.45 = {{ctrl.costo_60() || 'complete los datos'}}</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="ctrl.cot.rollo>1">
                        <label class="col-lg-2 control-label">Costo m<sup>2</sup> (1.82m)</label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control" ng-model="ctrl.cot.costo_80" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.toggleFormulaCosto182 = !ctrl.toggleFormulaCosto182">?</button>
                                </span>                               
                            </div>
                            <div uib-collapse="ctrl.toggleFormulaCosto182">                                
                                <blockquote style="margin-top: 10px;">
                                    <p>( {{ctrl.cot.rollo_80.precio||'precio rollo'}} * {{ctrl.cot.dolar||'dolar'}} ) / 61.93 = {{ctrl.costo_80() || 'complete los datos'}} </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="ctrl.cot.rollo===1">
                        <label class="col-lg-2 control-label">Precio m<sup>2</sup> Efectivo (1.52m)</label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control" ng-model="ctrl.cot.precio_efectivo_152" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.toggleFormulaPrecio152 = !ctrl.toggleFormulaPrecio152">?</button>
                                </span> 
                            </div>
                            <div uib-collapse="ctrl.toggleFormulaPrecio152">                                
                                <blockquote style="margin-top: 10px;">
                                    <p>( <span ng-class="{
                                            'text-danger'
                                                    :!ctrl.cot.costo_60}">{{ctrl.cot.costo_60|| 'm2 rollo '}}</span> + 
                                        <span ng-class="{
                                                'text-danger'
                                                        :!ctrl.cot.flete_m2}">{{ctrl.cot.flete_m2|| 'm2 flete'}}</span> + 
                                        <span ng-class="{
                                                'text-danger'
                                                        :!ctrl.cot.garantia.comision_venta}">{{ctrl.cot.garantia.comision_venta|| 'comisión venta'}}</span> + 
                                        <span ng-class="{
                                                'text-danger'
                                                        :!ctrl.cot.instalacion_m2}">{{ctrl.cot.instalacion_m2||'costo instalación'}}</span> ) + 
                                        <span ng-class="{
                                                'text-danger'
                                                        :!ctrl.cot.garantia.utilidad}">{{ctrl.cot.garantia.utilidad|| 'utilidad'}} %</span> =  {{ctrl.precio_60() || 'complete los datos'}}</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="ctrl.cot.rollo===1">
                        <label class="col-lg-2 control-label">Precio m<sup>2</sup> Merma (1.52m)</label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control"  ng-model="ctrl.cot.precio_merma_152" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.toggleFormulaPrecio152 = !ctrl.toggleFormulaPrecio152">?</button>
                                </span> 
                            </div>
                            <div uib-collapse="ctrl.toggleFormulaPrecio152">                                
                                <blockquote style="margin-top: 10px;">
                                    <p><span ng-class="{
                                            'text-danger'
                                                    :!ctrl.cot.costo_60}">{{ctrl.cot.costo_60|| 'm2 rollo '}}</span> + 
                                        <span ng-class="{
                                                'text-danger'
                                                        :!ctrl.cot.flete_m2}">{{ctrl.cot.flete_m2|| 'm2 flete'}}</span> =  {{ctrl.precio_merma_60() || 'complete los datos'}}</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="ctrl.cot.rollo===1">
                        <label class="col-lg-2 control-label">Total m<sup>2</sup> Efectivos (1.52m)</label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.toggleFormulaPrecio152 = !ctrl.toggleFormulaPrecio152">?</button>
                                </span> 
                            </div>
                            <div uib-collapse="ctrl.toggleFormulaPrecio152">                                
                                <blockquote style="margin-top: 10px;">
                                    <p><span ng-class="{
                                            'text-danger'
                                                    :!ctrl.cot.precio_efectivo_152}">{{ctrl.cot.precio_efectivo_152|| 'precio m2 efectivo  '}}</span> * 
                                        <span ng-class="{
                                                'text-danger'
                                                        :!ctrl.cot.efectivo_m2}">{{ctrl.cot.efectivo_m2|| 'm2 efectivos'}}</span> =  {{ctrl.total_efectivo_152() || 0 | number}}</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="ctrl.cot.rollo===1">
                        <label class="col-lg-2 control-label">Total m<sup>2</sup> Merma (1.52m)</label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.toggleFormulaPrecio152 = !ctrl.toggleFormulaPrecio152">?</button>
                                </span> 
                            </div>
                            <div uib-collapse="ctrl.toggleFormulaPrecio152">                                
                                <blockquote style="margin-top: 10px;">
                                    <p><span ng-class="{
                                            'text-danger'
                                                    :!ctrl.cot.precio_merma_152}">{{ctrl.cot.precio_merma_152|| 'precio m2 merma '}}</span> * 
                                        <span ng-class="{
                                                'text-danger'
                                                        :!ctrl.cot.merma_m2}">{{ctrl.cot.merma_m2|| 'm2 merma'}}</span> =  {{ctrl.total_merma_152() || 0 | number}}</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>