<h3>Cotización
    <small>Arquitectónico</small>
</h3>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Medidas</div>
            <div class="panel-body">
                <label>Rollo</label>
                <select class="form-control" ng-model="ctrl.rollo">
                    <option value="">Seleccionar...</option>
                    <option value="1.52">1.52</option>
                    <option value="1.82">1.82</option>
                </select>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cantidad</th>
                                <th>Largo(m)</th>
                                <th>Ancho(m)</th>
                                <th style="width: 61px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pieza in ctrl.piezas">
                                <td><input type="number" class="form-control" ng-model="pieza.cantidad" min="1"></td>                       
                                <td><input type="number" class="form-control" ng-model="pieza.largo"></td>                       
                                <td><input type="number" class="form-control" ng-model="pieza.ancho"></td>                        
                                <td><button class="btn btn-default" ng-click="ctrl.delPieza(pieza)"><span class="fa fa-remove"></span></button></td>
                            </tr>                       
                        </tbody>
                    </table>
                </div>
                <div>
                    <button class="btn btn-default" ng-click="ctrl.addPieza()">Agregar</button>
                    <!--<button class="btn btn-default" ng-click="ctrl.analisis()">Analizar</button>-->
                </div>
                <!--                <div>{{ctrl.piezas|json}}</div>
                                <div>{{ctrl.rollo|json}}</div>-->
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" ng-click="ctrl.analisis()">Analizar</button>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Análisis</div>
            <div class="panel-body">           
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cantidad</th>
                                <th>Largo(m)</th>
                                <th>Ancho(m)</th>
                                <th>m<sup>2</sup> Efectivos</th>
                                <th>m<sup>2</sup> Merma (1.52)</th>
                                <th>m<sup>2</sup> Merma (1.82)</th>
                                <th>m<sup>2</sup> Merma (óptimo)</th>
                                <th style="width: 61px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pieza in ctrl.procesadas">
                                <td>{{pieza.cantidad}}</td>                       
                                <td>{{pieza.largo}}</td>                       
                                <td>{{pieza.ancho}}</td>
                                <td>{{pieza.efectivo}}</td>  
                                <td ng-class="{info:pieza.optimo === 152}">{{pieza._152.merma}}</td>
                                <td ng-class="{info:pieza.optimo === 182}">{{pieza._182.merma}}</td> 
                                <td>{{pieza.optimo===152?pieza._152.merma:pieza._182.merma}}</td> 
                                <td><button class="btn btn-default" ng-click="ctrl.draw(pieza, 182)"><span class="fa fa-th-large"></span></button></td>
                            </tr>                       
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>                       
                                <td></td>                       
                                <td></td>
                                <th>{{ctrl.sum_efectivo(ctrl.procesadas)}}</th>  
                                <th>{{ctrl.sum_merma(ctrl.procesadas, 1)}}</th>
                                <th>{{ctrl.sum_merma(ctrl.procesadas, 2)}}</th> 
                                <th>{{ctrl.sum_merma(ctrl.procesadas, 3)}}</th> 
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!--                <div id="dibujo" class="rollo" style="height: 320px;"></div>-->
                <!--                <uib-tabset>
                                    <uib-tab heading="Patrón 1">
                                        <div id="cociente" class="rollo" style="height: 320px;">
                
                                        </div>
                                    </uib-tab>
                                    <uib-tab heading="Patrón 2" ng-show="ctrl.show_resto">
                                        <div id="resto" class="rollo" style="height: 320px;"></div>
                                    </uib-tab>                
                                </uib-tabset>
                                <hr>-->
                <!--<div>{{ctrl.procesadas|json}}</div>-->

            </div>
            <div class="panel-footer">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Parámetros Cotización</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Rollo de 60"</label>
                        <div class="col-lg-6">
                            <select class="form-control" ng-model="ctrl.cot.id_rollo_60" >
                                <option value="">Seleccionar...</option>
                            </select>
                        </div>
                        <label class="col-lg-2 control-label">Precio</label>
                        <div class="col-lg-2">
                            <div class="input-group"> 
                                <span class="input-group-addon">USD</span>
                                <input type="text" class="form-control" ng-model="ctrl.cot.precio" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Rollo de 80"</label>
                        <div class="col-lg-10">
                            <select class="form-control" ng-model="ctrl.cot.id_rollo_80">
                                <option value="">Seleccionar...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Dólar</label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control" ng-model="ctrl.cot.dolar" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Precio m<sup>2</sup></label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control" ng-model="ctrl.cot.precio" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Flete m<sup>2</sup></label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control" ng-model="ctrl.cot.flete" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Instalación m<sup>2</sup></label>
                        <div class="col-lg-10">
                            <div class="input-group"> 
                                <span class="input-group-addon">MXN</span>
                                <input type="text" class="form-control" ng-model="ctrl.cot.instalacion" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Garantía</label>
                        <div class="col-lg-6">
                            <select class="form-control" ng-model="ctrl.cot.id_garantia" >
                                <option value="">Seleccionar...</option>
                            </select>
                        </div>
                        <label class="col-lg-2 control-label">Utilidad</label>
                        <div class="col-lg-2">
                            <div class="input-group"> 
                                <input type="text" class="form-control" ng-model="ctrl.cot.precio" />
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input type="checkbox" checked="" />
                                    <span class="fa fa-check"></span>Remember me</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-sm btn-default">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>