<h3>Cotizar
    <small>Arquitectónico</small>
</h3>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Medidas</div>
            <div class="panel-body">
                <label>Rollo</label>
                <select class="form-control" ng-model="ctrl.rollo">
                    <option value="">Seleccionar...</option>
                    <option value="1.52">1.52</option>
                    <option value="1.82">1.82</option>
                </select>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cantidad</th>
                                <th>Largo(m)</th>
                                <th>Ancho(m)</th>
                                <th style="width: 61px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pieza in ctrl.piezas">
                                <td><input type="number" class="form-control" ng-model="pieza.cantidad" min="1"></td>                       
                                <td><input type="number" class="form-control" ng-model="pieza.largo"></td>                       
                                <td><input type="number" class="form-control" ng-model="pieza.ancho"></td>                        
                                <td><button class="btn btn-default" ng-click="ctrl.delPieza(pieza)"><span class="fa fa-remove"></span></button></td>
                            </tr>                       
                        </tbody>
                    </table>
                </div>
                <div>
                    <button class="btn btn-default" ng-click="ctrl.addPieza()">Agregar</button>
                    <!--<button class="btn btn-default" ng-click="ctrl.analisis()">Analizar</button>-->
                </div>
<!--                <div>{{ctrl.piezas|json}}</div>
                <div>{{ctrl.rollo|json}}</div>-->
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" ng-click="ctrl.analisis()">Analizar</button>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Análisis</div>
            <div class="panel-body">           
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cantidad</th>
                                <th>Largo(m)</th>
                                <th>Ancho(m)</th>
                                <th>m<sup>2</sup> Efectivos</th>
                                <th>m<sup>2</sup> Merma</th>
                                <th style="width: 61px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pieza in ctrl.procesadas">
                                <!--                            <td><input type="number" class="form-control" ng-model="pieza.cantidad" min="1"></td>                       
                                                            <td><input type="number" class="form-control" ng-model="pieza.largo"></td>                       
                                                            <td><input type="number" class="form-control" ng-model="pieza.ancho"></td>
                                                            <td><input type="number" class="form-control" ng-model="pieza.efectivo"></td>  
                                                            <td><input type="number" class="form-control" ng-model="pieza.merma"></td>  
                                                            <td><button class="btn btn-default" ng-click="ctrl.delPieza(pieza)"><span class="fa fa-remove"></span></button></td>-->
                                <td>{{pieza.cantidad}}</td>                       
                                <td>{{pieza.largo}}</td>                       
                                <td>{{pieza.ancho}}</td>
                                <td>{{pieza.efectivo}}</td>  
                                <td>{{pieza.merma}}</td>  
                                <td><button class="btn btn-default" ng-click="ctrl.draw(pieza)"><span class="fa fa-th-large"></span></button></td>
                            </tr>                       
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>                       
                                <td></td>                       
                                <td></td>
                                <th>{{ctrl.sum_efectivo(ctrl.procesadas)}}</th>  
                                <th>{{ctrl.sum_merma(ctrl.procesadas)}}</th>  
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
<!--                <div id="dibujo" class="rollo" style="height: 320px;"></div>-->
                <uib-tabset>
                    <uib-tab heading="Patrón 1">
                        <div id="cociente" class="rollo" style="height: 320px;">
                            
                        </div>
                    </uib-tab>
                    <uib-tab heading="Patrón 2" ng-show="ctrl.show_resto">
                        <div id="resto" class="rollo" style="height: 320px;"></div>
                    </uib-tab>                
                </uib-tabset>
                <hr>
                <div>{{ctrl.procesadas|json}}</div>

            </div>
            <div class="panel-footer">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>