<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Nuevo Gasto</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="form" class="form-horizontal" id="form" ng-submit="form.$valid && ok()" novalidate>    
        <div class="form-group" ng-class="{'has-error':(form.$submitted || form.nombre.$touched) && form.nombre.$error.required}">
            <label class="control-label col-sm-2">Concepto</label>
            <div class="col-sm-10">
                <input type="text" name="nombre" class="form-control" ng-model="gasto.nombre" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':(form.$submitted || form.tipo.$touched) && form.tipo.$error.required}">
            <label class="control-label col-sm-2">Tipo</label>
            <div class="col-sm-10">
                <select name="tipo" class="form-control" ng-model="gasto.tipo" required>
                    <option value="M"><p>Metro 2</option>
                    <option value="D">Día</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':(form.$submitted || form.precio.$touched) && form.precio.$error.required}">
            <label class="control-label col-sm-2">Precio</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon">MXN</span>
                    <input type="text" name="precio" class="form-control" ng-model="gasto.precio" required>
                </div>
            </div>
        </div>
    </form>   
</div>
<div class="modal-footer">       
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-primary" type="submit" form="form">Guardar</button>
</div>