<h3>Nuevo Producto</h3>

<div class="row">
    <div class="col-xs-12"> 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Propiedades</h4>
            </div>
            <div class="panel-body">
                <form name="formNuevoProducto" id="formNuevoProducto" class="form-horizontal" ng-submit="formNuevoProducto.$valid && ctrl.add_producto()" novalidate>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Clave</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="ctrl.producto.clave" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Marca</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="ctrl.producto.marca" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':(formNuevoProducto.$submitted || formNuevoProducto.modelo.$touched) && formNuevoProducto.modelo.$error.required}">
                        <label class="col-lg-2 control-label">Modelo</label>
                        <div class="col-lg-10">
                            <input type="text" name="modelo" class="form-control" ng-model="ctrl.producto.modelo" required />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':(formNuevoProducto.$submitted || formNuevoProducto.categoria.$touched) && formNuevoProducto.categoria.$error.required}">
                        <label class="col-lg-2 control-label">Categoría</label>
                        <div class="col-lg-10">
                            <select class="form-control" name="categoria" ng-options="c.id_categoria as c.nombre for c in ctrl.categorias" ng-model="ctrl.producto.id_categoria" required>
                                <option value="">Seleccionar...</option>                                           
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-model="ctrl.producto.id_seguridad" ng-if="ctrl.producto.id_categoria == 1" ng-class="{'has-error':(formNuevoProducto.$submitted || formNuevoProducto.seguridad.$touched) && formNuevoProducto.seguridad.$error.required}">
                        <label class="col-lg-2 control-label">Seguridad</label>
                        <div class="col-lg-10">
                            <select class="form-control" name="seguridad" ng-options="s.id_seguridad as s.nombre for s in ctrl.niveles_seguridad" ng-model="ctrl.producto.id_seguridad" ng-required="ctrl.producto.id_categoria==1">
                                <option value="">Seleccionar...</option>                                           
                            </select>
                        </div>
                    </div> 
                    <div class="form-group" ng-class="{'has-error':(formNuevoProducto.$submitted || formNuevoProducto.segmento.$touched) && formNuevoProducto.segmento.$error.required}">
                        <label class="col-lg-2 control-label">Segmento</label>
                        <div class="col-lg-10">
                            <select class="form-control" name="segmento" ng-options="s.id_segmento as s.nombre for s in ctrl.segmentos" ng-model="ctrl.producto.id_segmento" required>
                                <option value="">Seleccionar...</option>                                           
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':(formNuevoProducto.$submitted || formNuevoProducto.ancho.$touched) && formNuevoProducto.ancho.$error.required}">
                        <label class="col-lg-2 control-label">Ancho</label>
                        <div class="col-lg-10">
                            <select class="form-control" name="ancho" ng-options="a.id_ancho as a.ancho for a in ctrl.anchos" ng-model="ctrl.producto.id_ancho" required>
                                <option value="">Seleccionar...</option>                                           
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':(formNuevoProducto.$submitted || formNuevoProducto.precio.$touched) && formNuevoProducto.precio.$error.required}">
                        <label class="col-lg-2 control-label">Precio</label>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <span class="input-group-addon">USD</span>
                                <input type="text" name="precio" class="form-control" ng-model="ctrl.producto.precio" required />
                            </div>
                        </div>
                    </div>               
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Transmisión Luz</label>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.producto.transmision_luz" />
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Protección Rayos UV</label>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.producto.proteccion_uv" />
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Rechazo Solar</label>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.producto.rechazo_solar" />
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>                  
                    <!--<div>{{ctrl.producto|json}}</div>-->
                </form>
            </div>
            <div class="panel-footer">                        
                <button type="submit" form="formNuevoProducto" class="btn btn-primary">Guardar</button>
            </div>
        </div>       
    </div>
</div>