
<!--<div class=" form-group pull-right" style="font-size: 14px;">
    <label class="radio-inline c-radio">
        <input id="inlineradio1" type="radio" name="categoria2" value="0"  />
        <span class="fa fa-check"></span>Automotriz</label>
    <label class="radio-inline c-radio">
        <input id="inlineradio2" type="radio" name="categoria2" value="1" />
        <span class="fa fa-check"></span>Arquitectónico</label>
</div> -->
<h3>Productos</h3>
<div class="row mb-lg">
    <div class="col-lg-12">
        <label class="radio-inline c-radio">
            <input id="inlineradio1" type="radio" name="categoria" value="0" checked="checked" ng-model="ctrl.segmento" />
            <span class="fa fa-check"></span>Automotriz</label>
        <label class="radio-inline c-radio">
            <input id="inlineradio2" type="radio" name="categoria" value="1" ng-model="ctrl.segmento" />
            <span class="fa fa-check"></span>Arquitectónico</label>
    </div>
</div>

<div class="row">

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <!--<th>Id</th>-->
                                <!--<th>Segmento</th>-->
                                <th>Categoría</th>
                                <th>Modelo</th>
                                <th>Marca</th>
                                <th>Seguridad</th>
                                <th>Precio USD</th>
                                <th>Ancho</th>
                                <th>Rechazo Solar</th>
                                <th>Transmisión Luz</th>
                                <th>Protección UV</th>
                                <th style="width: 87px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in ctrl.productos|filter:{id_segmento:ctrl.segmento}">
                                <!--<td>{{p.id_producto}}</td>-->
                                <!--<td>{{p.segmento}}</td>-->
                                <td>{{p.categoria}}</td>
                                <td>{{p.modelo}}</td>
                                <td>{{p.marca}}</td>
                                <td>{{p.seguridad}}</td>
                                <td>{{p.precio|currency}}</td>
                                <td>{{p.ancho}}</td>
                                <td>{{p.rechazo_solar}}</td>
                                <td>{{p.transmision_luz}}</td>
                                <td>{{p.proteccion_uv}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.pre_edit_producto(p)"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.pre_del_producto(p)"><i class="fa fa-remove"></i></button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>

<script type="text/ng-template" id="confirmar.html">
    <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Eliminar Producto</h3>
    </div>
    <div class="modal-body" id="modal-body">
    <p>¿Desea eliminar el producto <strong>{{producto.modelo}}</strong>?</p>   
    </div>
    <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-danger" type="button" ng-click="ok()" >Eliminar</button>
    </div>
</script>