<div class="modal-header">
    <button type="button" class="close" ng-click="ctrl.cancelar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Nuevo Producto</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="form" class="form-horizontal" id="form" ng-submit="form.$valid && ctrl.add_gasto()" novalidate>    
        <ng-include src="'app/views/producto_nuevo_include.html'"></ng-include>
    </form>   
</div>
<div class="modal-footer">   
    <!--<button class="btn btn-warning" type="button" modal-refresh data-spinner="traditional">Show</button>-->    
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancelar()">Cancelar</button>
    <button class="btn btn-primary" type="submit" form="form">Guardar</button>
</div>